<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="__<%= name %>">

    <% include partials/header.ejs %>

    <section>
        <%= appdata.intro.about  %>

        <br/>

        <small>
            <%= appdata.intro.extra %>
        </small>
    </section>


    <menu>
        <% appdata.data.forEach(function(item, i, array){ %>
        <li>
            <a href="/section/<%= i %>" title="<%= item.company %>"><%= item.company %></a>
        </li>
        <% }); %>
    </menu>


    <% include partials/footer.ejs %>

</body>
</html>